---
import { Image } from "astro:assets"
import logo from "../images/logo.jpg"
---
<nav class=" font-Inconsolate font-bold flex items-center">
    <a><Image src={logo} alt="company logo" height={80} class=" rounded-full"></Image></a>
    <a href="#" class=" ml-8">About</a>
    <a class=" ml-8">Services</a>
    <a class=" ml-8">Contact Us</a>
</nav>