---
import wood from "../images/wood_cutting_using_jigsaw (720p).mp4"
---

<section class=" w-full h-full relative snap-start mt-10">
    <video class=" object-cover w-full h-full rounded-md" src={wood} autoplay loop muted ></video>
    <div class=" bg-slate-800/60 absolute top-0 left-0 w-full h-full">
        <div>
            <article class=" absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white font-bold text-5xl">
                <h1>AWARD WINNING CONSTRUCTION COMPANY</h1>
            </article>
    </div>
</section>